* {
    margin: 0;
    padding: 0;
}

#app {
    height: 80vh;
}

.align-vertical-items {
    display: flex;
    align-items: center;
    height: 100%;
}

.width-50 {
    width: 50%;
}

.mx-auto {
    margin: 0 auto;
}

.pt-10 {
    padding-top: 10px;
}
